{% block content %}
     {% if request.user.is_authenticated %}
    <h1>You are logged in!</h1>

        {% if queryset %}
        <h2>Welcome Staff</h2>
        <table class='table'>
        {% for instance in queryset %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ instance.email }}</td>
                <td>{{ instance.full_name }}</td>
                <td>{{ instance.timestamp|timesince }} ago</td>
            </tr>
            {% if instance.email == "abc@gmail.edu" %}
            <tr>
              <td>is equal</td>
            </tr>
            {% endif %}
        {% endfor %}
        </table>

        {% endif %}

 {% else %}
<div class="row">

    <div class="col-md-3 pull-right">
    
        <p class='lead text-align-center'>{{ title }}</p>

            <!-- <form method='POST' action=''>{% csrf_token %}
            {{ form|crispy }}

            <input class='btn btn-primary' type='submit' value='Sign Up' />

            </form> -->
            <button id="my-button">POP IT UP</button>
            <!-- Element to pop up -->
            <div id="element_to_pop_up">Content of popup>


  
               <div class="col-lg-4">
          
                <div id="containerSignUp" style="width:50%; height:50%;"></div>

          
                 </div><!-- /.col-lg-4 -->



            </div>
            <br>
            <br>
    </div>



<div class='col-md-2'>
    <a class="btn" href="{% url 'friends' %}">
        <p class='lead text-align-center'>Friends
        <br/>
            <span class='fa-stack fa-lg fa-4x'>
                <i style='color: yellow;' class='fa fa-circle fa-stack-2x'></i>
                <i style='color:black;'class="fa fa-smile-o  fa-5x fa-stack-2x"></i>
            </span>
        </p>
    </a>
</div>

<div class='col-md-2'>
    <a class="btn" href="{% url 'herbs' %}">
        <p class='lead text-align-center'>Herbs <br/>
            <span class="fa-stack fa-lg fa-4x">
                <i style='color:green;' class="fa fa-leaf fa-stack-2x"></i>
                  <!-- <i class="fa fa-square-o fa-stack-2x"></i> -->

            </span>
        </p>
    </a>
</div>

<div class='col-md-2'>
    <a class="btn" href="{% url 'fitness' %}">
        <p class='lead text-align-center'>Fitness <br/>
            <span class="fa-stack fa-lg fa-4x">
                <i style='color:red;' class="fa fa-heartbeat fa-stack-2x"></i>
                  <!-- <i class="fa fa-square-o fa-stack-2x"></i> -->

            </span>
        </p>
    </a>
</div>

<div class='col-md-2'>
    <a class="btn" href="{% url 'goodnews' %}">
        <p class='lead text-align-center'>Good News <br/>
            <span class="fa-stack fa-lg fa-4x">
                <i style='color:black;' class="fa fa-newspaper-o fa-stack-2x"></i>
                  <!-- <i class="fa fa-square-o fa-stack-2x"></i> -->

            </span>
        </p>
    </a>
</div>

</div>

{% endif %}

{% endblock %}