{% if request.user.is_authenticated %}
    <h1>You are logged in!</h1>

        {% if queryset %}
        <h2>Welcome Staff</h2>
        <table class='table'>
        {% for instance in queryset %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ instance.email }}</td>
                <td>{{ instance.full_name }}</td>
                <td>{{ instance.timestamp|timesince }} ago</td>
            </tr>
            {% if instance.email == "abc@gmail.edu" %}
            <tr>
              <td>is equal</td>
            </tr>
            {% endif %}
        {% endfor %}
        </table>

        {% endif %}
